/* Styles for form container */
.form_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    background-color: #EEE;
}

.form_inner {
    max-width: 800px;
    /* background-color: #2ce1b4; */
}

/* Styles for group container */
.group {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    /* margin-bottom: 20px; */
    padding: 20px;
}

/* Styles for group heading */
.group h1 {
    flex-basis: 100%;
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

/* Styles for session staff containers within the group */
.group .session_staff {
    flex-basis: 33.33%;
    margin-bottom: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

.subgroup {
    display: flex;
}

/* Responsive styles */
@media (max-width: 600px) {
    .group .session_staff {
        flex-basis: 100%;
        padding-right: 0;
    }
}

/* Styles for session staff containers */
.session_staff {
    margin-bottom: 20px;
}

/* Styles for select elements */
.staff_list {
    width: 100%;
    padding: 8px;
    font-size: 14px;
}

/* Styles for group heading */
.group h1 {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Styles for helper select elements */
.session_staff label {
    display: block;
    margin-bottom: 5px;
}

/* Responsive styles */
@media (max-width: 600px) {
    .form_container {
        flex-direction: column;
    }
}