/* POPUP NOTICE */
.popup_notice {
    display: none;
    position: fixed;
    z-index: 9999;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    overflow: auto;

    user-select: none;
}

.popup_notice.show {
    display: flex;
}

.notice_container {
    position: relative;
    width: 50%;
    max-height: 70%;
    /* Set a maximum height for the notice container */
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: auto;
    /* Hide the scrollbars by default */
    opacity: 0;
    transform: scale(0);
    transition: opacity 1s ease, transform 1s ease;
}

.popup_notice.show .notice_container {
    opacity: 1;
    transform: scale(1);
}

.notice_top {
    width: 100%;
    border-bottom: 1px solid rgba(38, 166, 181, 0.8);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    position: sticky;
    /* Add sticky positioning */
    top: 0;
    /* Stick to the top of the container */
}

.notice_icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.top_text {
    font-weight: bold;
    letter-spacing: -1px;
    /* Adjust the value as needed */
    font-size: 20px;
    user-select: none;
    display: flex;
}

.notice_content {
    display: flex;
    /* Add flex display */
    width: 100%;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 10px;
    /* Add padding for spacing */
    overflow: auto;
    /* Enable scrolling if content overflows */
}

.notice_container .image_notice_content {
    flex: 0 0 auto;
    /* Prevent image from growing */
    max-width: 50%;
    /* Adjust image width */
    /* Ensure the image does not exceed the container height */
    padding: 10px;
    border-radius: 15px;
}

.image_description_box {
    flex: 1 1 auto;
    /* Allow description to grow */
    padding: 10px;
}

.image_description {
    padding: 5px 0;
}

.image_description .title {
    font-weight: 600;
}

.event_name {
    margin-bottom: 5px;
}

.name_title {
    font-size: 24px;
    margin-bottom: 5px;
    text-transform: uppercase;

    color: rgb(28, 209, 209);
    letter-spacing: -1px;
    /* Adjust the value as needed */
}

.name_subtitle {
    font-size: 18px;
    color: #34a7d8;
}

.station {
    font-weight: bold;
    color: #333;
}

.close_button {
    background-color: transparent;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    color: rgb(227, 44, 44);
}

.close_button:hover {
    color: #3d3d3d;
}

/* POPUP NOTICE - END */