* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', 'Noto Sans', 'sans-serif';
    text-decoration: none;
    list-style: none;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

@font-face {
    font-family: 'Microsoft JhengHei';
    src: url('Microsoft JhengHei.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Microsoft JhengHei';
    src: url('Microsoft JhengHei Bold.ttf');
    font-weight: bold;
}


@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes slide-up {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(100%);
    }
}

@keyframes notice-extend {
    0% {
        max-height: 60px;
    }

    100% {
        max-height: 100px;
    }
}

body {
    height: auto;
}

/* Header */
.heading {
    position: relative;
    background-color: #1e4e6d;
    width: 100%;
}

.logo a {
    font-size: 24px;
    font-weight: bold;
    color: #ffe0f7;
    transition: 0.25s;
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    padding: 10px;

    &:hover {
        color: #d292ff;
    }
}

.main_header {
    flex: 1;
    padding: 10px;
}

.header_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu li {
    position: relative;
}

.menu li a,
.sub_menu_label {
    color: #c3dcec;
    cursor: pointer;
}

.menu li a:hover,
.sub_menu_label:hover {
    opacity: 1;
    color: #ffffff;
}

.menu li::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    bottom: 0;
    left: 0;
    height: 2px;
    background: #5abcfd;
    transition: transform 0.25s ease-out;
    transform-origin: center;
}

.menu li:hover::after {
    transform: scaleX(1);
}

.sub_item {
    /* Other styles */
    position: absolute;
    background-color: #FFF;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 5px 5px;
    width: 100%;
    z-index: 99;
}

/* Submenu items */
.sub_item ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sub_item li {
    margin: 5px 0;
}

.sub_item li a {
    text-decoration: none;
    color: #333333;
    display: flex;
    align-items: center;
    padding: 10px 12px;
    /* Adjust the padding as needed */
    border: transparent;
    /* Add a transparent border */
}

.sub_item li:hover {
    background-color: #f0f0f0;
    
    .sub_item li a {
        color: #666666;
    }
}

.sub_menu .sub_item {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    z-index: 99;
}

.sub_menu:hover .sub_item {
    opacity: 1;
    transform: translateY(0);
}

/* Hide submenu when cursor leaves both parent li and submenu */
.sub_menu:not(:hover) .sub_item,
.sub_menu:not(:hover) .sub_item:hover {
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 999;
}

.menu a,
.sub_menu_label {
    display: block;
    padding: 7px 15px;
    font-size: 17px;
    font-weight: 500;
    transition: 0.2s all ease-in-out;
    text-transform: uppercase;
    opacity: 0.4;
}

.menu:hover a {
    opacity: 0.4;
}

.menu a:hover {
    opacity: 1;
    color: #151515;
}

.current {
    color: rgba(208, 66, 230, 0.75) !important;
    opacity: 1 !important;
}

.current:hover {
    color: #151515 !important;
}

.menu-icon {
    display: none;
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked~.menu {
    transform: scale(1, 1);
}

/* Footer */
.footer {
    background-color: #108bdd;
    padding: 10px 0;
}

.footer ul {
    display: flex;
    justify-content: center;
}

.footer ul li {
    margin: 0 10px;
}

.copyright {
    user-select: none;
    text-align: center;
}